<div className="flex">
  <h3>How many days until...</h3>
  <mat-form-field>
    <mat-label>Select a date</mat-label>
    <mat-select (selectionChange)="onChange($event)">
      <mat-optgroup label="Birthdays">
        @for (date of birthdays; track date) {
          <mat-option [value]="date.name">{{date.name}}</mat-option>
        }
      </mat-optgroup>
      <mat-optgroup label="Holidays">
        @for (date of holidays; track date) {
          <mat-option [value]="date.name">{{date.name}}</mat-option>
        }
      </mat-optgroup>
      <mat-optgroup label="Other Dates">
        @for (date of otherDates; track date) {
          <mat-option [value]="date.name">{{date.name}}</mat-option>
        }
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <date-results [selectedDate]="selectedDate"></date-results>
</div>
